@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap');

:root {
  --primary: #10b981;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
  margin: 0;
  padding: 0;
}

/* Custom UI Styles */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #f1f5f9;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

input[type=range] {
  accent-color: var(--primary);
}

.capture-area {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}